body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 7%, 85%);
}
h1{
    font-size: 3rem;
    text-align: center;
    color: hsl(0, 0%, 30%);
}
form{
    background-color: white;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 0.75rem;
    box-shadow: 5px 5px 10px hsl(0, 0%, 20%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: 2rem;
    font-weight: bold;
}
input{
    width: 50%;
    text-align: center;  
    font-size: 1.5rem;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid hsl(0, 2%, 54%);
    border-radius: 0.75rem;

     
}
button{
    background-color: hsl(120, 90%, 33%);
    color: white;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.5rem;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover{
    background-color:hsl(120, 91%, 22%);
}
#total{
    font-size: 1.5rem;
}
#total-amt{
    color: hsl(120, 96%, 30%);
    font-weight: bold;
}